.about-us {
    display: flex;
    justify-content: center;
}
.dotted {
    z-index: -100;
    position: absolute;
    margin-top: 80px;
    margin-left: 60px;
    width: 350px;
    height: 300px;
    background: radial-gradient(rgba(255, 0, 0, 0.479) 5%, transparent 20%) 0 0, radial-gradient(rgba(0,0,0,.1) 1%, transparent 1%) 50px 50px;
    /* background-color: #fff; */
    background-size: 35px 35px;
}
.about-us .container .image-block img {
    margin-top: 100px;
    margin-left: 60px;
}
.about-us-text {
    position: relative;
    margin: 100px;
}
.about-us-text p{
    margin-top: 40px;
    font-size: 20px;
}
.about-us h2 {
    color: red;
    font-size: 37px;
    font-weight: bold;
    position: relative;
}
.about-us-text h1 {
    font-size: 60px;
    color: rgba(255, 0, 0, 0.171);
    position: absolute;
    top: -55px;
    left: 20px;
}
.about-us-text a {
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.about-us-text .dotted {
    right: 25px;
    top: 10px;
}
.arrow {
    font-size: large;
}